body {
    background-color: rgb(144, 203, 223);
}

#container {
    background-color: pink;
    border: 5px solid beige;
    height: 275px;
    width: 750px;
    margin: 0 auto;
    text-align: center; 
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: #FFFFFF;
}

#output {
    margin: 25px auto;
    font-size: 26px;
    color: black;
}

/* 
The css here is simple, we used html elements and id tags to target the things we want styled. 
We used css design like background-color, color, font-sizes, margins, etc. 
Everything else, can be changed and altered and we used different colors: names, hexas, and rgb.

